#content{
	width: 90%;
	padding: 20px;
}
#leftcolumn{
	float: left;
	width: 70%;
	padding: 1px;
}
#rightcolumn{
	float: right;
	width: 25%;
	padding: 1px;
}
#middle{
    text-align: center;
   
}